*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.btn{
    display: flex;
    margin: 0 auto;
    border-radius: 5px;
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    background: #fff;
}
.btn:focus{
    outline: none;
}
.btn>.fuck{
    position: relative;
    z-index: 1;
}
.btn>.circle{
    position: absolute;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: inline-block;
    background: #14d36a;
    opacity: 0.5;
    animation: 1s big forwards;
    z-index: 0;
}
@keyframes big {
    0%{
        transform: scale(0.1);
    }
    100%{
        transform: scale(25);
    }
}